
body{
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: black;
}

.ip {
    margin-top: 130px;
    margin-bottom: 100px;
    display: flex;
    height: 50 px;
    width: 500px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: black;
}

.btn {
    height: 100px;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    font-weight: bold;
    color: white;
}

.la , .lo  {
    margin: 50px;
    border: 1px solid rgb(255, 255, 255);
}

.card {
    margin-top: 100px;
    padding: 50px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: black;
}

.op {
    font-weight: bold;
}

.i {
    display: grid;
    grid-template-columns: auto auto;
}

.ip , .btn , .card {
    box-shadow: 2px 2px 20px gray;
}

body div , button {
    width: 500px;
}

.i p {
    width: 150px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    text-wrap: pretty;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}